<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Persona</title>
</head>
<body>
    <form>
        <label>Nombre: </label>
        <input type="text" placeholder="Ingresar el Nombre">
        <br> <label>Apellido: </label> <!-- el place holder es para texto en el fondo -->
        <input type="text" placeholder="Ingresar el Apellido">
        <br> <label>Correo: </label>
        <input type="text" placeholder="Ingresar su dirección de correo">
        <br> <label>Celular: </label>
        <input type="number" placeholder="Ingresar su numero de contacto">
        <br> <label>Dirección: </label>
        <input type="text" placeholder="Ingresar la dirección">
        <br> <button type="submit">Registrar</button>

    </form>
    
</body>
</html>